@import url('https://fonts.googleapis.com/css2?family=Economica&family=Pacifico&family=Uchen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Uchen",'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    background: rgba(166, 112, 112, 0.535);
}